<button class="btn btn-secondary"(click)="open()">{{'activate' | translate}}</button>

<div #myModal class="modal">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <h2>{{'activate_email' | translate}}</h2>

      <form (ngSubmit)="activateEmail()">
        <input class="form-control" type="text" min="10" [(ngModel)]="code" id="code" name="code" placeholder="{{'enter_the_code' | translate}}" required ><br>
        <div class="d-flex justify-content-center">
          <input type="submit" value="{{'activate' | translate}}" class="btn btn-secondary btn-lg">
        </div>
      </form>
    <br>
    <button class="btn btn-warning" (click)="resendCode()">{{'resend_code' | translate}}</button>
    <br><br>
    <div class="alert alert-danger" role="alert" *ngIf="error" (click)="closeAll()">  {{error}}  </div>
    <div class="alert alert-success" role="alert" *ngIf="success" (click)="closeAll()">  {{success}}  </div>
  </div>
</div>
