<div *ngIf="role === UserRole.USER">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">&nbsp;&nbsp;YHSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " routerLink="/user">Profile</a>
        <a class="nav-item nav-link" routerLink="/user/activities">My activity</a>
        <a class="nav-item nav-link" routerLink="/user/activities/new">New activity</a>
        <a class="nav-item nav-link" routerLink="/user/stats">Stats</a>
        <a class="nav-item nav-link logout" (click)="logout()" >Logout</a>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="role===UserRole.ANONYMOUS">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">&nbsp;&nbsp;YHSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " routerLink="/">Main</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="role === UserRole.ADMIN">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">&nbsp;&nbsp;YHSH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " routerLink="/user/profile">Profile</a>
        <a class="nav-item nav-link " routerLink="/admin">Admin Panel</a>
      </div>
    </div>
    <a class="nav-item nav-link logout" (click)="logout()">Logout</a>
  </nav>
</div>
