.logout{
  cursor: pointer;
}
.icon{
  margin-right: -15px;
}
#navbarNav{
  padding-left: 10px !important;
}
@media (min-width:576px) {
  .lang{
    position: absolute;
    right:1em;
  }
  .theme{
    position: absolute;
    right:6em;
  }
}
