<div class="card" style="width: 18rem;">
  <div class="card-header">{{stat?.name}}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {{'trainings' | translate}}: {{stat?.trainingsCount}}
    </li>
    <li class="list-group-item">
      {{'avg' | translate}}: {{stat?.avg + ' ' + stat?.notation}}
    </li>
    <li class="list-group-item">
      {{'sum' | translate}}: {{stat?.sum + ' ' + stat?.notation}}
    </li>
    <li class="list-group-item">
      {{'max' | translate}}: {{stat?.max + ' ' + stat?.notation}}
    </li>
    <li class="list-group-item">
      {{'min' | translate}}: {{stat?.min + ' ' + stat?.notation}}
    </li>
    <li *ngIf="stat?.avgWeight!=0" class="list-group-item">
      {{'avgWeight' | translate}}: {{stat?.avgWeight| number: '1.2-2'}} {{"kg"|translate}}
    </li>
  </ul>
</div>
