<div>
  <div class="container mt-5">
    <div class=" d-flex justify-content-center">
      <h2>{{'users' | translate}}</h2>
    </div>
    <div class="scrolled-table">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">{{'username' | translate}}</th>
          <th scope="col">Email</th>
          <th scope="col">{{'role' | translate}}</th>
          <th scope="col">{{'active_status' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let user of users">
          <td><a routerLink="/admin/users/{{user.username}}">{{user.username}}</a></td>
          <td>{{user.email}}</td>
          <td (click)="changeRole(user.id)" class="pointer">{{user.userRole}}</td>
          <td (click)="changeActive(user.id)" class="pointer">{{user.enabled}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-pagination-nav-component [page]="page"></app-pagination-nav-component>

  </div>
</div>
