<app-loading [loading]="loading"></app-loading>
<div class="main" *ngIf="activities">
  <div class="container">
    <div>
      <div>
        <div class="d-flex justify-content-center">
          <h1>{{'my_activity' | translate}}</h1>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <a class="btn btn-secondary" routerLink="/user/activities/new">{{'new_activity' | translate}}</a>
        </div>
        <hr>
        <div *ngIf="activities.length > 0">
          <app-activity-card *ngFor="let activity of activities" [activity]="activity"></app-activity-card>
        </div>
        <div *ngIf="activities.length == 0" class="d-flex justify-content-center dont-have-label">
          <h1>{{'you_dont_have_any_activities_yet' | translate}}</h1>
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-center">
        <h1>{{'last_trainings' | translate}}</h1>
      </div>
      <hr>
      <div *ngIf="groupedTrainings.length > 0">
        <div>

          <div class="scrolled-table">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <td>{{'activity' | translate}}</td>
                <td>{{'count' | translate}}</td>
                <td>{{'time' | translate}}</td>
              </tr>
              </thead>
              <tbody *ngFor="let dateTraining of groupedTrainings">
              <tr>
                <td class="bg-body-secondary" colspan="3" >
                  <h6>{{ dateTraining.date | date:'dd' }} {{ (dateTraining.date | date:'MMMM') || '' | translate }} {{ dateTraining.date | date:'yyyy' }}
                  </h6></td>
              </tr>
              <tr *ngFor="let training of dateTraining.trainings">
                <td>{{training.activity.name}}
                  <svg height="20" width="20" *ngIf="training.mode == 'WORKOUT'">
                    <text x="0" y="15" fill="black">W</text>
                  </svg>
                </td>
                <td>{{training?.count + ' ' + training.activity.notation}}</td>
                <td> {{ training.startTime | date: 'HH:mm'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="groupedTrainings.length == 0" class="d-flex justify-content-center dont-have-label">
        <h1>{{'you_dont_have_any_trainings_yet' | translate}}</h1>
      </div>
    </div>
  </div>
</div>
