<app-loading [loading]="loading"></app-loading>
<div class="container" *ngIf="groupedTrainings && activity">
  <div class="d-flex justify-content-center">
    <h1>{{activity.name}}</h1>
  </div>
  <form (ngSubmit)="add()">
    <label for="name">{{'count' | translate}}: [ {{activity.notation}} ]</label>
    <input class="form-control" type="number" id="name" min="1" [(ngModel)]="count"
           name="count"><br/>
    <div class=" d-flex justify-content-center">
      <input type="submit" class="btn btn-secondary" value="{{'add' | translate}}"/>
    </div>
  </form>
  <hr>
  <div class="container">
    <div class="scrolled-table" *ngIf="groupedTrainings.length > 0">
      <table class="table table-striped table-bordered justify-content-center">
        <thead>
        <tr>
          <td>{{'count' | translate}}</td>
          <td colspan="2">{{'time' | translate}}</td>
        </tr>
        </thead>
        <tbody *ngFor="let dateTraining of groupedTrainings">
        <tr>
          <td class="bg-body-secondary" colspan="3" ><h6>{{ dateTraining.date | date:'dd' }} {{ (dateTraining.date | date:'MMMM') || '' | translate }} {{ dateTraining.date | date:'yyyy' }}</h6></td>
        </tr>
       <tr *ngFor="let training of dateTraining.trainings">
         <td>{{training.count + ' ' + activity.notation}}</td>
         <td> {{ training.startTime | date: 'HH:mm'  }}</td>
         <td>
           <img  (click)="remove(training.id)"
                 ngSrc="/assets/icon/remove.png"
                 height="25" width="25"
                 alt="Remove" title="Remove"/>
         </td>
       </tr>
       </tbody>
      </table>
    </div>
    <div *ngIf="groupedTrainings.length == 0" class="justify-content-center d-flex dont-have-label">
      <h1>{{'you_dont_have_any_trainings_yet' | translate}}</h1>
    </div>
  </div>
  <app-pagination-nav-component [page]="page"></app-pagination-nav-component>
  <hr>
  <div class="table-bordered d-flex justify-content-center">
    <form (ngSubmit)="removeActivity()">
      <button type="submit" class="btn btn-secondary">{{'remove_activity' | translate}}</button>
    </form>
    <br>
    <div class="alert alert-danger" role="alert" *ngIf="error" (click)="closeError()">  {{error}}  </div>
  </div>
</div>
