<app-loading [loading]="loading"></app-loading>
<div class="container">
  <div class="d-flex justify-content-center">
    <h1>{{activity?.name}}</h1>
  </div>
  <form (ngSubmit)="add()">
    <label for="name">{{'count' | translate}}:</label>
    <input class="form-control" type="number" id="name" min="1" [(ngModel)]="count"
           name="count"><br/>
    <div class=" d-flex justify-content-center">
      <input type="submit" class="btn btn-primary" value="{{'add' | translate}}"/>
    </div>
  </form>
  <hr>
  <div class="container">
    <div class="scrolled-table">
      <table class="table table-striped table-bordered justify-content-center">
        <thead>
        <tr>
          <td>{{'count' | translate}}</td>
          <td colspan="2">{{'time' | translate}}</td>
        </tr>
        </thead>
        <tbody *ngFor="let dateTraining of groupedTrainings">
        <tr>
          <td class="highlighted-row" colspan="3" ><h6>{{ dateTraining.date | date:'dd' }} {{ (dateTraining.date | date:'MMMM') || '' | translate }} {{ dateTraining.date | date:'yyyy' }}</h6></td>
        </tr>
       <tr *ngFor="let training of dateTraining.trainings">
         <td>{{training?.count + ' ' + activity?.notation}}</td>
         <td> {{ training.startTime | date: 'HH:mm'  }}</td>
         <td>
           <img  (click)="remove(training.id)"
                 ngSrc="/assets/icon/remove.png"
                 height="25" width="25"
                 alt="Remove" title="Remove"/>
         </td>
       </tr>
       </tbody>
      </table>
    </div>
  </div>
  <div class="table-bordered d-flex justify-content-center">
    <form (ngSubmit)="removeActivity()">
      <button type="submit" class="btn btn-warning">{{'remove_activity' | translate}}</button>
    </form>
    <br>
    <div class="alert alert-danger" role="alert" *ngIf="error" (click)="closeError()">  {{error}}  </div>
  </div>
</div>
