<div class="container">
  <div class="d-flex justify-content-center">
    <h1>{{'new_activity' | translate}}</h1>
  </div>
  <div class="form">
    <form class="form-main" (ngSubmit)="newActivity()">
      <label for="name">{{'name' | translate}}:</label>
      <input class="form-control" type="text" id="name" placeholder="{{'enter_activity_name' |translate}}: " [(ngModel)]="name"
             name="name">
      <label for="typeName">{{'typeName' | translate}}:</label>
      <select [(ngModel)]="typeName" class="form-control" id="typeName" name="typeName">
        <option selected disabled >{{'choose_from_list' | translate}}</option>
        <option  *ngFor="let activityType of activityTypes " value="{{activityType.name}}">{{activityType.name|translate}}</option>
      </select><br>
      <input class="form-check-input" type="checkbox" id="withWeight" [(ngModel)]="withWeight" name="withWeight"/>
      <label for="withWeight">&emsp;{{'with_weight' | translate}}</label>
      <br><br>
      <button type="submit" class="btn btn-secondary">{{'create'|translate}}</button>
    </form>
    <br>
    <div class="alert alert-danger" role="alert" *ngIf="error" (click)="closeError()">  {{error}}  </div>
  </div>
</div>
