<app-loading [loading]="loading"></app-loading>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="d-flex justify-content-center">
          <h1>{{'my_activity' | translate}}</h1>
        </div>
        <ul class="list-group">
          <app-link-activity *ngFor="let activity of activities" [activity]="activity"></app-link-activity>
        </ul>
      </div>
      <hr>
      <div class="col-xs-6">
        <div>
          <div class="d-flex justify-content-center">
            <h1>{{'last_trainings' | translate}}</h1>
          </div>
          <div class="scrolled-table">
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <td>{{'activity' | translate}}</td>
                <td>{{'count' | translate}}</td>
                <td>{{'time' | translate}}</td>
              </tr>
              </thead>
              <tbody *ngFor="let dateTraining of groupedTrainings">
              <tr>
                <td class="bg-body-secondary" colspan="3" >
                  <h6>{{ dateTraining.date | date:'dd' }} {{ (dateTraining.date | date:'MMMM') || '' | translate }} {{ dateTraining.date | date:'yyyy' }}
                  </h6></td>
              </tr>
              <tr *ngFor="let training of dateTraining.trainings">
                <td>{{training.activity.name}}</td>
                <td>{{training?.count + ' ' + training.activity.notation}}</td>
                <td> {{ training.startTime | date: 'HH:mm'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
