html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.scrolled-table{
  overflow: auto;
}
.highlighted-row{
  font-weight: bold !important;
}
.dont-have-label{
  color: #888888;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex: 1;
}

.center{
  text-align: center;
  align-content: center;
}
