/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.scrolled-table{
  overflow: auto;
}
.highlighted-row{
  /*background-color: #dadcc6 !important;*/
  font-weight: bold !important;
}
